/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
  font-size: 32px;
  font-family: "Viga", sans-serif;
}

/* Jumbotron */
.jumbotron {
  background-image: url(img/jumbotron-bg.jpg);
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
}

.jumbotron .container{
    position: relative;
    z-index: 1;
}

.jumbotron::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
  font-size: 40px;
  margin-top: 150px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.jumbotron .display-4 span {
  font-weight: 500;
}

.jumbotron .container {
  color: white;
}

/* Info Panel */
.info-panel{
    background-color:white;
    border-radius: 12px;
    padding: 30px;
    margin-top: -100px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.info-panel img{
    width: 80px;
    float: left;
    margin: 0 20px 20px 0;
}

.info-panel h3{
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.info-panel p {
    font-size: 14px;
    font-weight: 200;
    color: #acacac;
    margin-top: -5px;
}

/* Workingspace */
.workingspace{
    margin-top: 120px;
    text-align: center;
}

.workingspace h2{
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 200;
    margin-top: 30px;
}

.workingspace span{
    font-weight: 500;
}

.workingspace p{
    font-size: 18px;
    font-weight: 200;
    color: #acacac;
    margin: 25px 0;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
}

.testimonial blockquote h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 8px;
}

.testimonial figure img{
  width: 60px;
  margin: 20px 10px 10px;
  opacity: 0.5;
}

.testimonial figure img.utama{
  width: 90px;
  margin-top: 5px;
  opacity: 1;
}

.testimonial figcaption {
  text-align: center;
}

.testimonial figcaption h4 {
  color: #1c2c5d;
  font-size: 16px;
}

.testimonial figcaption p {
  color: #acacac;
  font-size: 12px;
  margin-top: -5px;
}

/* Footer */
.footer p{
  color: #acacac;
  font-size: 18px;
  margin-top: 100px;
}

/* Utilities */
.tombol {
  border-radius: 20px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
      margin-top: -75px;
      height: 640px;
  }

  .jumbotron .display-4{
      font-size: 62px;
  }

  .info-panel .text-wrapper{
      width: 200px;
  }

  .workingspace{
      text-align: left;
  }

  .testimonial blockquote h5{
    font-size: 32px;
  }
}
